body {
	margin: 0px;
	padding: 0px;
	background: #272625;
	color: #757574;
}
a {
	color: #fff;
}
body, p, input, button, th, td, li, textarea, dd, dt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

header {
	/* background: #ccc; */
	font-family: Arial, Helvetica, sans-serif;
	/* height: 200px; */
	padding: 50px;
}
header h1 {
	margin: 0px;
	font-weight: normal;
	color: #757574;
}
h2, h3 {
	margin: 0px;
	font-weight: normal;
	font-size: 1em;
	color: #A2A2A2;
}
section {
	padding: 0px 20px;
}
#main {
	padding: 0px 50px;
}
#code {
	background: #141413;
	/* color: #A2A2A2; */
	/* border: 1px solid #ccc; */
	/* border-radius: 5px; */
	height: 400px;
	padding: 5px;
	/* white-space: pre; */
	/* overflow: scroll; */
}
#code_container {
	width: 59%;
	float: left;
}
#code, #code div {
	/* font-family: "Lucida Console", "Courier New", fixed; */
}

#output_container {
	width: 39%;
	float: right;
}
.title {
	padding-bottom: 20px;
	/* color: #757574; */
}
#output_raw_data_overview {
	padding-top: 20px;
}
#output {
	/* background: #141413; */
	/* color: #A2A2A2; */
	/**border: 1px solid #ccc; */
	border-radius: 5px;
	height: 370px;
	/* padding: 5px; */
}
#simulator_output {
	width: 100%;
}
#log {
	padding-top: 20px;
	color: #757574;
}
#console {
	height: 420px;
	clear: both;
}
#controls {
	padding-top: 20px;
	color: #757574;
	width: 49%;
	clear: left;
}
#num_iterations {
	padding: 5px;
	width: 4em;
}
#file_list {
	padding-top: 20px;
	width: 49%;
}
#filename_controls {
	padding-top: 20px;
}
#progress_bar_container {
	padding-top: 20px;
}
#progress_bar {
	border: 1px solid #757574;
	background: #141413;
}
#progress {
	height: 10px;
	background: #5C5C5E;
}
.start_hidden {
	display: none;
}
button {
	background: #5C5C5E;
	color: #F8F7F8;
	border-radius: 5px;
	border: 0px solid #5C5C5E;
	/* border: 1px solid #66c; */
	padding: 10px 20px;
	clear: both;
}
article {
	clear: both;
}
footer {
	color: #757574;
	padding: 50px 70px 70px;
}
footer div {
	font-size: 0.8em;
}
footer a {
	color: #A2A2A2;
}
#supported_functions {
	padding: 50px;
	font-size: 1.1em;
}
#supported_functions table td, th {
	font-size: 0.8em;
}
table {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}
table tbody {
	background-color: #141413;
}
table thead {
	background: #5C5C5E;
	color: #F8F7F8;
}
table thead th {
	color: #F8F7F8;
	font-weight: normal;
}
table td, th {
	text-align: left;
	padding: 5px 10px;
}
#editor_toolbar {
	padding-bottom: 10px;
}

#editor_toolbar label {
	padding-left: 10px;
}
#editor_toolbar button {
	padding: 10px 15px;
	font-size: 0.9em;
}
.modal_dimmer {
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
}
#file_lister {
	max-width: 500px;
	margin: 20px auto 0px auto;
	background: #272625;
	text-align: left;
	max-width: 90vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal_title {
	padding: 10px 10px;
}
.title_text {
	display: block;
	color: #A2A2A2;
	float: left;
	padding-top: 15px;
	/* padding-left: 10px; */
}
.modal_title .close_modal {
	display: block;
	float: right;
}
.clear {
	clear: both;
}

#file_lister table {
	margin-top: 0px;
}

.file_list_container {
	max-height: 70vh;
	background-color: #000;
	/* min-height: 200px; */
}

#editable_filename, #simulator_num_iterations {
	display: inline-block;
	background: #141413;
	color: #A2A2A2;
	border-radius: 5px;
	padding: 5px;
	margin-left: 10px;
}
#editable_filename {
	width: 120px;	
}
#simulator_num_iterations {
	border: 0px solid transparent;
	width: 80px;
}
#file_name_toolbar {
	padding-bottom: 10px;
}